<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/assetsAdmin/images/logos/favicon.png}" />
    <link rel="stylesheet" th:href="@{/assetsAdmin/css/styles.min.css}" />
</head>
<body>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-lg-4">
                    <div class="text-center">
                        <img th:src="@{/assetsAdmin/images/backgrounds/errorimg.svg}" alt="" class="img-fluid">
                        <h1 class="fw-semibold mb-7 fs-9">Opps!!!</h1>
                        <h4 class="fw-semibold mb-7">This page you are looking for could not be found.</h4>
                        <a class="btn btn-primary" th:href="@{/}" role="button">Go Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/assetsAdmin/dist/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assetsAdmin/dist/libs/simplebar/dist/simplebar.min.js}"></script>
<script th:src="@{/assetsAdmin/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assetsAdmin/dist/js/app.min.js}"></script>
<script th:src="@{/assetsAdmin/dist/js/app.init.js}"></script>
<script th:src="@{/assetsAdmin/dist/js/app-style-switcher.js}"></script>
<script th:src="@{/assetsAdmin/dist/js/sidebarmenu.js}"></script>
<script th:src="@{/assetsAdmin/dist/js/custom.js}"></script>

</body>
</html>