<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>

.pass_show{position: relative} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 10px; 

z-index: 1; 

color: #f36c01; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 

} 

.pass_show .ptxt:hover{color: #333333;} 

</style>

<script type="text/javascript">

$(document).ready(function(){
$('.pass_show').append('<span class="ptxt">Show</span>');  
});
  

$(document).on('click','.pass_show .ptxt', function(){ 

$(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

});  



</script>

                            <div class="col-lg-6 d-flex align-items-stretch">
                                <div class="card w-100 position-relative overflow-hidden">
                                    <div class="card-body p-4">
                                        <h5 class="card-title fw-semibold">Reset Password</h5>
                                        <p class="card-subtitle mb-4">To change your password please confirm here</p>
                                        <form th:action="@{/reset-password}" method="post">
                                            
                                            <div class="mb-4">
                                                <label for="newPassword" class="form-label fw-semibold">New Password</label>
                                                 <input type="hidden" th:name="email" th:value="${email}" />
                                                <input type="password" class="form-control" id="newPassword" value="12345678910" name="newPassword" required>
                                            </div>
                                            <div class="mb-4">
                                                <label for="confirmPassword" class="form-label fw-semibold">Confirm Password</label>
                                                <input type="password" class="form-control" id="confirmPassword" value="12345678910" name="confirmPassword" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Reset Password</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
</html>